<div class="graphs clearfix">  
    {{vertical-meter title="Glykémie na lačno" unit="mmol/l" from="0" to="10" rangefrom="4" rangeto="6" value=model.glykemieNalacno}}  
    {{vertical-meter title="HbA1c dle IFCC" unit="%" from="0" to="10" rangefrom="0" rangeto="4.5" value=model.hba1c}}  
    {{vertical-meter title="Celkový cholesterol " unit="mmol/l" from="0" to="10" rangefrom="0" rangeto="4.5" value=model.cholesterolCelkem}}  
    {{vertical-meter title="HDL cholesterol" unit="mmol/l" from="0" to="10" rangefrom="1.1" rangeto="10" value=model.cholesterolHdl}}  
    {{vertical-meter title="LDL cholesterol" unit="mmol/l" from="0" to="10" rangefrom="0" rangeto="2.5" value=model.cholesterolLdl}}  
    {{vertical-meter title="Triacylglyceroly" unit="mmol/l" from="0" to="10" rangefrom="0" rangeto="1.6" value=model.triacyglyceroly}}   
    {{vertical-meter title="BMI" unit="" from="0" to="100" rangefrom="20" rangeto="40" value="30"}}  
    {{vertical-meter title="Krevní tlak diastolický" unit="mmHg" from="0" to="200" rangefrom="0" rangeto="130" value=model.tlakDiastolicky}} 
    {{vertical-meter title="Krevní tlak systolický" unit="mmHg" from="0" to="200" rangefrom="0" rangeto="80" value=model.tlakSystolicky}} 
</div>
{{#link-to "form"}}Zpět{{/link-to}}